.home_photos_area {
	> .home_page_photos_container {
		gap: 3.05rem 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: max-content;
		font-size: 0;

		@include screen-md {
			grid-template-columns: 1fr 1fr;
		}
		@include screen-sm {
			display: block;
			width: 100%;
		}
	}
	@include screen-sm {
		width: 100%;
		position: relative;
		right: -1.5rem;
		padding-left: 0.6rem;
	}
}

.home_photo_item {
	@include size(12.5rem, 7.5rem);
	overflow: hidden;
	display: flex;
	align-items: center;

	> img {
		width: 100%;
		min-height: 100%;
		object-fit: cover;
		filter: grayscale(85%) contrast(70%);
		&:hover {
			transition: filter 0.7s;
			filter: grayscale(0%) contrast(100%);
		}
	}

	@include screen-lg {
		@include size(10.5rem, 7rem);
	}
	@include screen-md {
		@include size(10rem, 7rem);
	}
	@include screen-sm {
		@include size(auto, 24rem);
	}
	@include screen-xs {
		@include size(auto, 20.6rem);
	}
}

.home_photo_item_placeholder {
	background: black;
	display: inline-block;
	> div {
		@include size(100%, 170%);
		position: relative;
		top: -30%;
		animation-name: move-left-to-right;
		animation-duration: 2s;
		animation-iteration-count: infinite;

		> div {
			@include size(0rem, 100%);
			margin: 0 auto;
			box-shadow: 0 0 3rem 3rem rgba(255, 255, 255, 0.1);
		}
	}
	@include screen-sm {
		width: 100%;
		display: inline-block;
		> div > div {
			box-shadow: 0 0 9rem 5rem rgba(255, 255, 255, 0.1);
		}
	}
}

.home_request_observer {
	width: 100%;
	height: 3.9rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
	margin-bottom: 5rem;
	> .loading-icon {
		margin-top: 5rem;
		@include size(2rem);
		border-top: 0.12rem solid $color-text-main;
		border-left: 0.12rem solid $color-brightest-opacity;
		border-bottom: 0.12rem solid $color-brightest-opacity;
		border-right: 0.12rem solid $color-brightest-opacity;
		border-radius: 50%;
		animation: 1s rotate linear infinite;
	}

	grid-column: 1 / span 3;
	@include screen-md {
		grid-column: 1 / span 2;
	}
	@include screen-xs {
		margin-bottom: 0rem;
		margin-top: 0;
	}
}
