.photo_page_layer {
	@include size(100vw, 100vh);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 20;
	overflow-y: scroll;
	overflow-x: hidden;

	background-color: $color-brightest-transparent;
}

.photo_page_layout_warp {
	@extend .layout_warp;
	// 原本是 1.5rem
	margin-left: 0;
	margin-right: 0;
}

.photo_page_header {
	height: $header-height;
	margin-bottom: $header-margin-bottom;
	margin-right: 1.5rem;
}

.photo_page_layout_main {
	@extend .layout_main;
	@include screen-md {
		display: block;

		//PART> RWD
		> div:first-child {
			display: none;
		}
	}
}

.photo_page_main {
	grid-column-start: 2;
	grid-column-end: 4;
	margin-bottom: 7rem;

	@include screen-md {
		width: 100%;
	}
}

.photo_page_close_btn {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1.3rem;
	padding-right: 1rem;
	font-size: 0.4rem;
	letter-spacing: 0.5rem;
	background-color: transparent;
	border: 1px solid $color-text-main;
	cursor: pointer;
	transition: background-color 0.2s;
	&:hover {
		color: $color-brightest;
		background-color: $color-text-main;
	}
}

.photo_page_close_btn_above_the_img {
	@extend .photo_page_close_btn;
	position: absolute;
	top: -1.8rem;
}

.photo_page_close_btn_below_the_img {
	margin-right: 1.5rem;
	> a {
		float: right;
	}

	@include screen-md {
		padding-bottom: 7.3rem;
	}
}

.photo_page_photo {
	position: relative;
	overflow: hidden;
	height: $profile-img-height + $navigation-height;

	transition: height 1s 0.2s;

	> img {
		width: 100%;
		height: 100%;

		// !!! IE NOT SUPPORT !!!
		object-fit: cover;
		// for IE,
		// but effect is not good
		// width: auto;
		// height: auto;
		// min-width: 100%;
		// min-height: 100%;
		// @include position_center;
	}

	> div {
		background-color: black;
		// background-color: $color-text-main;
		@include size(100%);
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		transition: opacity 1s;
		> div {
			@include size(2rem);
			border-top: 0.12rem solid $color-brightest;
			border-left: 0.12rem solid $color-brightest-opacity;
			border-bottom: 0.12rem solid $color-brightest-opacity;
			border-right: 0.12rem solid $color-brightest-opacity;
			border-radius: 50%;
			animation: 1s rotate linear infinite;
		}
	}

	//PART> RWD
	// width
	width: 73vw;
	@include screen-2xl {
		width: 78vw;
	}
	@include screen-xl {
		width: 84vw;
	}
	@include screen-lg {
		width: 75vw;
	}
	@include screen-md {
		width: 100%;
	}
}

.extend_photo {
	height: $profile-img-height * 2 + $navigation-height;

	@include screen-sm {
		height: 25rem;
	}
	@include screen-xs {
		height: 16rem;
	}
}

.photo_page_text_area {
	margin-top: 3rem;
	margin-bottom: 4rem;
	padding-right: 1.5rem;

	> * {
		position: relative;
		transition-property: transform, opacity;
		transition-duration: 1.3s;
	}

	> h6 {
		font-family: 'Noto Sans TC';
		font-weight: 400;
		font-size: 1.5rem;
		letter-spacing: 2px;
		margin-bottom: 1rem;
		text-transform: uppercase;

		transition-delay: 1.5s;
	}

	> p:first-of-type {
		font-size: 0.7rem;
		font-weight: 600;
		margin-bottom: 2rem;
		letter-spacing: 0.1rem;
		padding-left: 0.05rem;

		transition-delay: 1.7s;
	}
	> p:last-of-type {
		font-family: 'Noto Sans TC';
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.7rem;
		text-align: justify;
		text-indent: 2.15rem;

		transition-duration: 1.8s;
		transition-delay: 2.3s;
	}

	@include screen-md {
		margin-left: 3.5rem;
		margin-right: 3.5rem;
		padding-right: 0;
	}
}

.hide_photo_page_text_content {
	> * {
		transform: translateY(-2rem);
		opacity: 0;
		transition-duration: 0s;
	}
	> h6,
	> p:first-of-type,
	> p:last-of-type {
		transition-delay: 0s;
	}
}
