.profile_container {
	width: $profile-img-width;
	overflow: hidden;

	@include screen-lg {
		width: 100%;
		padding-right: 2rem;
	}
	@include screen-md {
		width: 100%;
		padding-right: 2rem;
	}
	@include screen-sm {
		padding-left: 3rem;
	}
	@include screen-xs {
		margin-bottom: 3.9rem;
	}
}

.profile_img_container {
	position: relative;
	height: $profile-img-height;
	overflow: hidden;
	> img {
		min-width: 100%;
		min-height: 100%;
	}

	//PART> RWD
	@include screen-lg {
		width: 100%;
		overflow: hidden;
		> img {
			position: absolute;
			right: 0;
			min-height: 100%;
		}
	}
}

.profile_page_name {
	position: relative;
	left: 6rem;
	bottom: 7rem;
	margin-bottom: -2rem;

	&::before {
		content: '';
		display: block;
		border-left: 0.5rem solid $color-text-main;
		border-top: 0.3rem solid transparent;
		border-bottom: 0.3rem solid transparent;
		width: 0;
		height: 0;
		position: relative;
		top: 1rem;
		right: 1rem;
	}

	> h6 {
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
		margin-bottom: 0.8rem;
	}
	> p {
		font-size: 0.7rem;
	}

	@include screen-lg {
		bottom: -3rem;
		left: 1.1rem;
		margin-bottom: 1.7rem;
	}
}

.profile_text_container {
	padding-top: 3rem;
	> p {
		font-family: 'Noto Sans TC';
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.7rem;
		text-align: justify;
		text-indent: 2.15rem;
	}
}

.profile_external_link_container {
	margin-top: 3rem;
	display: flex;
	justify-content: flex-end;
	> a {
		margin-left: 1.2rem;
	}
	> a > img {
		position: relative;
		pointer-events: none;
		opacity: 0.7;
	}
	> a:nth-of-type(1) > img {
		height: 2rem;
		top: 0.15rem;
		right: 0.2rem;
	}
	> a:nth-of-type(2) > img {
		height: 1.8rem;
		top: 0.35rem;
	}
	> a:nth-of-type(3) > img {
		height: 1.2rem;
		top: 0.62rem;
	}

	@include screen-xs {
		flex-direction: column;
		align-items: flex-end;
		margin-bottom: 3rem;
	}
}
