* {
	color: #3e443b;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: jost, 'San Francisco', 'Noto Sans TC', 'PingFang', 'Roboto',
		'Segoe UI', 'Microsoft JhengHei';
	font-weight: 300;
	letter-spacing: 1px;

	// outline: 1px dashed rgba(0, 0, 0, 0.2);
}

html,
body {
	min-width: 100%;
	min-height: 100%;
}

html {
	font-size: 16px;
}

body {
	background-color: $color-brightest;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

button:focus,
input:focus {
	outline: none;
}
