@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin position_center {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 1;
}

.hidden {
	display: none;
}

// .hidden-important {
// 	display: none !important;
// }

.hidden-child {
	> * {
		display: none;
		opacity: 0;
	}
}

.width-full-important {
	width: 100% !important;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes move-left-to-right {
	from {
		transform: translate(-100%, 5rem) rotate(-20deg);
	}
	to {
		transform: translate(100%, -5rem) rotate(-20deg);
	}
}

.error-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

// .color-brightest {
// 	color: $color-brightest;
// }
